<div id="logo">
    <img src="../../assets/images/logo.png" alt="" srcset="">
    <div id="heros">
        <img src="../../assets/images/heros/fu/01idle/e002a_01idle_00.png" alt="" srcset="">
        <img src="../../assets/images/heros/mi/00base/e001a_00base_00.png" alt="" srcset="">
        <img src="../../assets/images/heros/shi/01idle/e003a_01idle_00.png" alt="" srcset="">
    </div>
</div>

<div id="menu">
    <span routerLink='load-game' *ngIf="isCookie()" class="btn-menu load-game">Charger   partie</span>
    <span routerLink='new-game' class="btn-menu new-game">Nouvelle   partie</span>
    <span routerLink='options' class="btn-menu options-game">Options</span>
</div>
